In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("./Resources/1976-2016-president.csv")
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
0,1976,Alabama,AL,1,63,41,US President,"Carter, Jimmy",democrat,False,659170,1182850,20171015,NaN
1,1976,Alabama,AL,1,63,41,US President,"Ford, Gerald",republican,False,504070,1182850,20171015,NaN
2,1976,Alabama,AL,1,63,41,US President,"Maddox, Lester",american independent party,False,9198,1182850,20171015,NaN
3,1976,Alabama,AL,1,63,41,US President,"Bubar, Benjamin """"Ben""""",prohibition,False,6669,1182850,20171015,NaN
4,1976,Alabama,AL,1,63,41,US President,"Hall, Gus",communist party use,False,1954,1182850,20171015,NaN

In [4]:
#keep data from 2012 and 2016 elections
df=df[df['year']>=2012]
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
3079,2012,Alabama,AL,1,63,41,US President,"Romney, Mitt",republican,False,1255925,2074338,20171015,NaN
3080,2012,Alabama,AL,1,63,41,US President,"Obama, Barack H.",democrat,False,795696,2074338,20171015,NaN
3081,2012,Alabama,AL,1,63,41,US President,NaN,independent,False,18706,2074338,20171015,NaN
3082,2012,Alabama,AL,1,63,41,US President,NaN,NaN,True,4011,2074338,20171015,NaN
3083,2012,Alaska,AK,2,94,81,US President,"Romney, Mitt",republican,False,164676,300495,20171015,NaN

In [6]:
#get all column names
for col in df.columns: 
    print(col)

year
state
state_po
state_fips
state_cen
state_ic
office
candidate
party
writein
candidatevotes
totalvotes
version
notes

In [5]:
#specify cols we want to keep and filter the df
cols_list=['year', 'state', 'candidate', 'party', 'writein', 'candidatevotes', 'totalvotes']
df=df[cols_list]
df.head()

,year,state,candidate,party,writein,candidatevotes,totalvotes
3079,2012,Alabama,"Romney, Mitt",republican,False,1255925,2074338
3080,2012,Alabama,"Obama, Barack H.",democrat,False,795696,2074338
3081,2012,Alabama,NaN,independent,False,18706,2074338
3082,2012,Alabama,NaN,NaN,True,4011,2074338
3083,2012,Alaska,"Romney, Mitt",republican,False,164676,300495

In [9]:
#export cleaned csv
df.to_csv('./Resources/cleaned_data.csv', index=False)