In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("./Resources/1976-2016-president.csv")
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
0,1976,Alabama,AL,1,63,41,US President,"Carter, Jimmy",democrat,False,659170,1182850,20171015,NaN
1,1976,Alabama,AL,1,63,41,US President,"Ford, Gerald",republican,False,504070,1182850,20171015,NaN
2,1976,Alabama,AL,1,63,41,US President,"Maddox, Lester",american independent party,False,9198,1182850,20171015,NaN
3,1976,Alabama,AL,1,63,41,US President,"Bubar, Benjamin """"Ben""""",prohibition,False,6669,1182850,20171015,NaN
4,1976,Alabama,AL,1,63,41,US President,"Hall, Gus",communist party use,False,1954,1182850,20171015,NaN

In [3]:
df.candidate = df.candidate.replace(
                                                                    {
                                                                        "Blank Vote/Scattering":"Void Vote",
                                                                        "Blank Vote/Void Vote/Scattering":"Void Vote",
                                                                        "Hedges, Jim":"Hedges, James",
                                                                        "Hoefling, Tom":"Hoefling, Thomas Conrad ""Tom""",
                                                                        "None Of The Above":"None Of These Candidates",
                                                                        "Scattering":"Void Vote",
                                                                        "White, Jerry":"White, Jerome ""Jerry"""
                                                                    })

In [4]:
#keep data from 2012 and 2016 elections
df=df[df['year']>=2012]
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
3079,2012,Alabama,AL,1,63,41,US President,"Romney, Mitt",republican,False,1255925,2074338,20171015,NaN
3080,2012,Alabama,AL,1,63,41,US President,"Obama, Barack H.",democrat,False,795696,2074338,20171015,NaN
3081,2012,Alabama,AL,1,63,41,US President,NaN,independent,False,18706,2074338,20171015,NaN
3082,2012,Alabama,AL,1,63,41,US President,NaN,NaN,True,4011,2074338,20171015,NaN
3083,2012,Alaska,AK,2,94,81,US President,"Romney, Mitt",republican,False,164676,300495,20171015,NaN

In [ ]:
#get all column names
for col in df.columns: 
    print(col)

In [6]:
#specify cols we want to keep and filter the df
cols_list=['year', 'state', 'state_po', 'candidate', 'party', 'writein', 'candidatevotes', 'totalvotes']
df=df[cols_list]
df.head()

,year,state,state_po,candidate,party,writein,candidatevotes,totalvotes
3079,2012,Alabama,AL,"Romney, Mitt",republican,False,1255925,2074338
3080,2012,Alabama,AL,"Obama, Barack H.",democrat,False,795696,2074338
3081,2012,Alabama,AL,NaN,independent,False,18706,2074338
3082,2012,Alabama,AL,NaN,NaN,True,4011,2074338
3083,2012,Alaska,AK,"Romney, Mitt",republican,False,164676,300495

In [7]:
df['party']=df['party'].str.title()
df.head()

C:\Users\mjensen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,year,state,state_po,candidate,party,writein,candidatevotes,totalvotes
3079,2012,Alabama,AL,"Romney, Mitt",Republican,False,1255925,2074338
3080,2012,Alabama,AL,"Obama, Barack H.",Democrat,False,795696,2074338
3081,2012,Alabama,AL,NaN,Independent,False,18706,2074338
3082,2012,Alabama,AL,NaN,NaN,True,4011,2074338
3083,2012,Alaska,AK,"Romney, Mitt",Republican,False,164676,300495

In [8]:
#export cleaned csv
df.to_csv('./Resources/cleaned_data.csv', index=False)